# Goose database driver — must always be "postgres"
GOOSE_DRIVER=postgres

# Connection string for the development database
GOOSE_DBSTRING=postgres://username:yourpassword@localhost:5432/wilvault_db

